header{
    text-align: center;
}
#interface{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.caixa {
    background-color: rgba(213, 234, 246, 0.94);
    width: 550px;
    height: 500px;
    border: 2px solid rgba(134, 177, 245, 0.63);
    border-radius: 15px;
    box-shadow: 15px 15px 12px rgba(134, 177, 245, 0.63);
    margin-top: 20px;
}
#caixa-1{

}

#caixa-2{
    background-color: rgba(0, 10, 52, 0.58);

}

#caixa3{

}

