body{

}

#interface{
    background-color: rgba(213, 234, 246, 0.94);
    width: 600px;
    height: 650px;
    margin: 0px auto 0px 100px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.5);
    position: relative;
    display: flex;
}

h1{
    text-align: center;
    width: 500px;
    heigth: 5px;
    margin-left: 55px;
}
fieldset{
    width: 250px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #312d64;
    box-shadow: 1px 1px 1px blue;
    position: relative;



}
legend{
    font-weight: bolder;
    font-size: 15 px;
}
fieldset#formFora{
    margin-top: 80px;
    height: 500px;
    margin-left: -400px;

}

.inputsFormulario{
    margin: 2px;
    margin-top: 10px;
    border-radius: 5px;
}
.botoes{
    margin: 35px auto 0px auto;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(23, 21, 89, 0.54);
    display: flex;
}
div#areaResposta{
    background-color: rgba(213, 234, 246, 0.94);
    width: 500px;
    height: 650px;
    margin: 0px auto 0px 650px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.5);
    position: absolute;
    display: flex;
}