body {
  background-color: rgba(14, 127, 219, 0.972);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 600px;
  height: 500px;
  padding-left: 10px;
  padding-top: 10px;
  box-shadow: 5px 5px 10px rgba(8, 2, 2, 0.561);
  margin: auto;
}

img {
  border-radius: 50%;

  margin-top: 15px;
  margin-left: 20px;
}

div#res {
  margin-top: 10px;
}
footer {
  color: white;
  font-style: italic;
  text-align: center;
  padding: 15px;
}
