div#titulo {
    width: 460px;
    font-size: 15pt;
    margin: 5px auto 0px auto;

}

div#titulo h3 {
    width: 350px;
    margin: 10px auto 10px auto;
}



input#fID {
    width: 35px;
}

input#fNome{
    width: 200px;

}

input#fCPF {
    width: 150px;
}

input#fNascimento {
    width: 190px;
}

input#fEmail {
    width: 300px;

}
input#fTelefone {
    width: 130px;
}
input#fCidade {
    width: 130px;
}
input.fFuma{
    margin-left: 15px;
}
label[for="fumante"]{
    margin-left: 75px;
}
label[for="Nao-fumante"]{
    margin-left: 75px;
}


select#fUF{
    font-size: 15px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    width: 220px;
}


#botaoEditaCliente{
    margin-left: 150px;
    padding: 15px;
    background-color: #00A19C;
}

#botaoEditaCliente:hover{
    background-color: #80142B;
    transition: 1s;
}
