div#titulo {
    width: 460px;
    font-size: 15pt;
    margin: 5px auto 0px auto;
    margin-bottom: 35px;
}

div#titulo h3 {
    width: 350px;
    text-align: center;

}


#pool{
    border-radius: 15px;
    margin: 0px auto 0px auto;
    width: 1000px;
    height: 420px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 8px;
    align-items: center;
    align-content: flex-start;
}

.cubos{
    margin-left: 10px;
    text-align: center;
    font-size: 15pt;
    font-weight: bolder;
    background-color: #01d701;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    color: #80142B;
}
